
body {
    background-color: #f8f9fa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #007bff;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.form-check-input {
    margin-top: 5px;
}

.btn-submit {
    background-color: #007bff;
    border-color: #007bff;
}
h2{
    padding-top: 0.5rem;
    padding-left: 0.5rem;
}
.form-check{
    padding-left: 0.5rem;
}

#timer {
font-size: 1.5rem;
color: #007bff;
text-align: center;
}

#timer span {
display: inline-block;
padding: 0.5rem;
background-color: #007bff;
color: #fff;
border-radius: 5px;
margin-left: 0.5rem;
}

.container {
position: relative;
}

.timer-wrapper {
position: absolute;
top: 10px;
right: 10px;
background-color: #007bff;
color: #fff;
padding: 0.5rem;
border-radius: 5px;
font-size: 1rem;
}

.timer-wrapper span {
margin-left: 0.3rem;
}
